body {
  background-color: #C5EFFD; /* Adjusted background color for the entire page */
  margin: 0;
  padding: 0;
}

.dashboard {
  position: relative;
  margin-top: -15%;
}

.graph {
  margin: 20px;
  background-color: #D3EEF2;

}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget {
  width: calc(33.33% - 20px); /* Adjust as needed */
  background-color: #D3EEF2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  margin-top: -5%;
}

.goal {
  width: calc(33.33% - 40px); /* Adjust as needed */
  margin-left: 10px;
  margin-right: 10px;
}

.current {
  width: calc(33.33% - 40px); /* Adjust as needed */
  margin-right: 10px;
  margin-left: 10px;
}

.widget-container {
  display: flex;
}

.goal, .current {
  flex: 1;
}

.topdec {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
}

.heading {
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: underline; /* Add underline */
  font-weight: bold;
}

.mrfresh{
  position: absolute;
  z-index: 1;
  margin-left: 25%;
  margin-top: -30%;
}

.graphtitle{
  padding-top: 10%;
}