body {
  background-color: #C5EFFD; /* Adjusted background color for the entire page */
  margin: 0;
  padding: 0;
}

.dashboard {
  position: relative;
  margin-top: -3%;
}

.graph {
  margin: 20px;
  background-color: #D3EEF2;

}

.widgets {
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  color: darkslategray;
}

.widget {
  width: calc(33.33% - 20px); /* Adjust as needed */
  background-color: #D3EEF2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  width: 90%;
  margin-top: -5%;
  display:flexbox;
  position: relative;
  color: darkslategray;
}

.graph {
  flex: 1; /* Take up remaining space */
  background-color: #D3EEF2;
  margin-right: 10px; /* Adjust margin as needed */
  position: relative; /* Add position relative */
}

.goal {
  width: calc(33.33% - 40px); /* Adjust as needed */
  margin-left: 10px;
  margin-right: 10px;
}

.current {
  width: calc(33.33% - 40px); /* Adjust as needed */
  margin-right: 10px;
  margin-left: 10px;
}

.widget-container {
  padding-top: 15px;
  display: flex;
}

.goal, .current {
  flex: 1;
}

.topdec {
  width: 125%;
  height: 100%;
  position: relative;
  display: flex;
}

.heading {
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: underline; /* Add underline */
  font-weight: bold;
}

.mrfresh{
  position: absolute;
  z-index: 1;
  margin-left:28%;
  margin-top: -35%;
}

.graphtitle{
  padding-top: 10%;
  text-decoration: underline; /* Add underline */
  color: darkslategray;
}

.greet {
  position: absolute;
  left: 30%;
  top: 15%;
  transform: translate(-50%, -50%);
  text-align: left; /* Align the text at the center */
  color: aliceblue;
  font-size: 25px;
}

.welcome {
  -webkit-text-stroke: 2px darkslategray; /* Add stroke for WebKit browsers */
  margin-bottom: -10px;
}


.hello-name {
  color: darkslategray;
  font-size: 35px;
  margin-top: 6px;
}

.heading{
  color: darkslategray;
}
